attrs==23.1.0
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
humanize==4.9.0
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
jsonlines==3.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
Pygments==2.15.1
pytz==2023.3.post1
requests==2.31.0
rich==13.7.1
urllib3==2.2.1
Werkzeug==3.0.3
